Pertemuan 2

In [3]:
if 'ali' in 'Bali':
    print ('yes')

yes

In [2]:
x = 1
y = 6

if x < y :
    print ('yes')

yes

In [3]:
x = 10

if x < 50 :
    print ('(first suite)')
    print ('x is small')

(first suite)
x is small

In [9]:
x = 70

if x < 50 :
    print ('(first suite)')
    print ('x is small')
else :
    print ('(second suite)')
    print ('x is large')

(second suite)
x is large

In [10]:
BukuTulis = 10000
BukuGambar = 5000
uang = 3000

if uang > BukuTulis:
    print ('beli buku')
elif uang > BukuGambar :
    print ('beli kertas')
else:
    print ('pulang')

pulang

In [12]:
name = 'Hactiv'
if name == 'Hactiv':
    print ('hello '+ name)

hello Hactiv

In [19]:
x = 1

if x == 1: print ('x'); print ('y')
elif x == 2: print ('a'); print ('b')
else : print ('z')

x
y

In [13]:
umur = 11
a ='teen' if umur < 21 else 'adult' 
print(a)

teen

In [36]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [39]:
if True :
    pass

print ('foo')

foo

In [47]:
n = 6
while n > 0 :
    n -= 1
    print (n)

5
4
3
2
1
0

In [46]:
i = 1
while i < 6:
    i += 1
    print(i)

2
3
4
5
6

In [56]:
n = 6
while n > 0 :
    n -= 1
    if n == 2:
        break
    print(n)
print ('loop ended')

5
4
3
loop ended

In [58]:
n = 6
while n > 0 :
    n -= 1
    if n == 2:
        continue
    print(n)
print ('loop ended')

5
4
3
1
0
loop ended

In [60]:
n = 6
while n > 0 :
    n -= 1
    print (n)
else :
    print ('loop done')

5
4
3
2
1
0
loop done

In [24]:
x = '*'
baris = 1;
jml = 4;
hasil = ''
while baris <= jml:
    kolom = baris
    while kolom > 0:
        hasil += x
        kolom -= 1
    hasil += '\n'
    baris += 1

print (hasil)

*
**
***
****

In [4]:
a = ['foo', 'bar']
while len(a):
    print (a.pop(0))
    
    b = ['baz', 'qux']
    while len(b):
        print ('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [7]:
d = {'foo' : 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [33]:
for k, v in d.items():
    print (k, ':', v)

foo : 1
bar : 2
baz : 3

In [8]:
for v in d.values():
    print (d)

{'foo': 1, 'bar': 2, 'baz': 3}
{'foo': 1, 'bar': 2, 'baz': 3}
{'foo': 1, 'bar': 2, 'baz': 3}

In [14]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print (i)
else :
    print ('Done')

foo

In [53]:
temp = input('Masukan temperatur,(misalnya 30F, 20C) :')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == 'C':
    result = int(round((9*degree)/5+32)), 
elif i_convertion == 'F':
    result = int(round((degree - 32)*5/9))
else:
    print('masukan input yang benar')

print('temperaturnya adalah', result, 'derajat')

Masukan temperatur,(misalnya 30F, 20C) :150F
temperaturnya adalah 66 derajat

In [52]:
x =4
y = 20
if x < y:
    print('no')
else:
    print ('yes')

no

In [60]:
while True:
    msg = input('Masukan Perintah:').lower()
    print(msg)
    if msg == 'stop':
            break

Masukan Perintah:mulai
mulai
Masukan Perintah:lanjut
lanjut
Masukan Perintah:stop
stop